# macOS junk & temporary files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails and files caches
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Build outputs
build/
*.app
*.dSYM
*.o
*.swp
*~
*.iconset/
*.zip
*.dmg
